<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center style="color: blue;">{{ message }}</center>
    {% endfor %}
  {% endif %}
{% endwith %} 
<body>
   <center>
    <h1>Forgot Password</h1>
    <form method="post">
        <label>Enter your email:</label></br></br>
        <input type="email" placeholder="Enter your email" name="email"/></br></br>
        <button>Submit</button>
    </form>
   </center> 
</body>
</html>