<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>New password</h1>
        <form method="post">
        <label>Enter new password</label><br/><br/>
        <input type="text" name="npassword"/><br/><br/>
        <label>Confirm password</label><br/><br/>
        <input type="text" name="cpassword"/><br/><br/>
        <button>Submit</button>
        </form>
    </center>
</body>
</html>